{% extends "layouts/main.html" %}

{% block pageTitle %}
  Identity verification complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Identity verified
      </h1>
    </div>

    <div class="highlight-box">
      <p class="govuk-body govuk-!-font-weight-regular">Your Companies House personal code is: </p>
       <p class="govuk-body govuk-!-font-weight-regular"><strong>XXX-9999-9999</strong> </p>
  
    </div>

     <p>We've emailed your code to <strong>email@example.com</strong>. It may take a few minutes to arrive.</p>

    <h2 class="govuk-heading-m">Next steps to complete all identity verification requirements</h2>

    <p class="govuk-body">Depending on your role, you must provide your personal code when you submit certain filings to Companies House. This is what connects your verified identity to our records. It's part of the legal requirement to verify your identity for Companies House.</p>

    <p class="govuk-body">
    This applies if you are a:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>director (or equivalent), or are going to be one</a></li>
      <li>person with significant control (PSC), or are going to be one</li>
    </ul>

     <p class="govuk-body">You need to use your code for each role you hold, and for every company you're involved with.</p>

    <p class="govuk-body">For more information, read the 'How to use your personal code' section of the <a href="https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification" class="govuk-link" rel="noreferrer noopener" target="_blank">Companies House personal codes for identity verification guidance (opens in new tab)</a>.
    </p>

    <h3 class="govuk-heading-s">If you're currently a director or PSC</h3>

    <p class="govuk-body">You'll need to provide your code when you submit certain filings. For example, directors will need to provide it on their company's confirmation statement. PSCs will need to provide it on their verification statement.</p> 
    
 <h3 class="govuk-heading-s">If you're going to be appointed as director or become a PSC</h3>

       <p class="govuk-body">
   You'll need to provide the code when you submit the filing to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>appoint a director</a></li>
      <li>give notice of a PSC</li>
    </ul>

       <p class="govuk-body">If you're both a director and a PSC, you'll need to provide the same personal code separately for each role, and for every company you're involved with.</p> 

        <h3 class="govuk-heading-s">If you're incorporating a company </h3>

    <p class="govuk-body">You'll need to provide the code when you submit the filing to incorporate the company. </p> 

 <h2 class="govuk-heading-m">About your personal code</h2>

    <p class="govuk-body">You'll only need one personal code for Companies House. You'll use the same code for all your roles and companies.</p>

      <p class="govuk-body">The code is personal to you, not your company or a company you work for.</p>

        <p class="govuk-body">You should keep your code safe. If you use an Authorised Corporate Service Provider (ACSP), such as an agent or an accountant, you will need to share it with them if they file on your behalf.</p>

  <p class="govuk-body">Your code is not the same as the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link" rel="noreferrer noopener" target="_blank">company authentication code (opens in new tab)</a>. If you have an authentication code, you should continue to keep this safe as you'll need it to file online. </p>

      <h2 class="govuk-heading-m">What to do if the email doesn't arrive</h2>

      <p class="govuk-body">You can also find your personal code in the <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Manage account (opens in new tab)</a> section when you sign in to your Companies House account.</p> 

    <p class="govuk-body">If the email doesn't arrive after a few minutes, check your spam folder. If it still hasn't arrived, email us at <strong>enquiries@companieshouse.gov.uk</strong> and we'll resend it.</p> 

    {{ govukButton({
      text: "Continue",
      href: "https://register-an-acsp-prototype.herokuapp.com/v14/saved-application"
    }) }}

    <h3 class="govuk-heading-m
  ">Feedback</h3>
    <p class="govuk-body">This is a new service. Help us improve it by completing our
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">quick survey (opens in new tab)</a>.
    </p>

  </div>
</div>


{% endblock %}
