{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Alt routes V8"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Pre One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance">Guidance</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-v2">Guidance V2</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-when-acsps-only">Guidance - When you need to verify (ACSPs only)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li>  
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-when">Guidance - When you need to verify (directors and PSCs)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li> 
        <li>
          <a class="govuk-link" href="../pre-one-login/start">Start page</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/acsp-route">Verifying with an Authorised Corporate Service Provider (ACSP)</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/one-login-intro">We’re taking you to verify your identity with GOV.UK One Login</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/already-verified">Already verified</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">One Login</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../one-login/one-login-start">One Login start</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-working">One Login processing</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/success">Success</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/find-another-way-UR">Find another way page for UR</a>
        </li>   
      </ul>

      <h3 class="govuk-heading-s">Post One Login screens (Additional routes)</h3>

      <ul class="govuk-list govuk-list--bullet">
      
        <li>
          <a class="govuk-link" href="../post-one-login/alt-route-triage">Additional routes triage start page</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/live-in-uk">Do you live in the UK?</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/nationality">What is your nationality?</a>
        </li>
         <li>
          <a class="govuk-link" href="../post-one-login/current-address">What is your current address?</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/previous-address">What was your previous address?</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/alt-route-choice">Ways you can verify your identity for Companies House</a>
        </li>
         <li>
          <a class="govuk-link" href="../post-one-login/acsp-route">Verifying with an Authorised Corporate Service Provider (ACSP)</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/company-information">Company information</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/triage-end">You've told us you want to provide evidence of your identity to Companies House</a>
        </li>
          <li>
          <a class="govuk-link" href="../post-one-login/failure-blocked">Failure - blocked</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Error pages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../pre-one-login/service-unavailable.html">Service unavailable</a>
        </li>
      </ul>
      

     <h2 class="govuk-heading-m">Emails</h2>

<h3 class="govuk-heading-s">Invitation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/invitation-email">Invitation email - all evidence</a> </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> 
        </li>
           <li>
          <a class="govuk-link" href="../post-one-login/invitation-email-passport-only">Invitation email - passport only</a> </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> 
        </li>
      </ul>

<h3 class="govuk-heading-s">Successful</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/success-email-inclusion-route.html">Success email - inclusion route</a> <strong class="govuk-tag govuk-tag--blue">
            V1
          </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> <br>(Went live with this version due to time constraints. Needs a new version which mirrors
  <a href="https://prove-your-identity-prototype.herokuapp.com/release3-dev-v1/post-one-login/success-email-v3" class="govuk-link govuk-link--no-visited-state">personal code email</a>) 
        </li>
      </ul>

      <h3 class="govuk-heading-s">Unsuccessful - can try again</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/fail-email-try-again-all-evidence-types.html">Can try using the service again (all types of evidence, or passport and driving licence/national identity card. Delete as appropriate)</a> </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> 
        </li>
         <li>
          <a class="govuk-link" href="../post-one-login/fail-email-try-again-passport-only.html">Can try using the service again (passport only)</a> </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> 
        </li>
           <li>
          <a class="govuk-link" href="../post-one-login/fail-email-try-again-link-expired.html">Deadline missed</a> </strong> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong> 
        </li>
      </ul>


         <h3 class="govuk-heading-s">Unsuccessful - cannot try again</h3>

         <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/fail-email-criteria-not-met.html">Do not meet the criteria to use this route</a> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong>
        </li>
          <li>
          <a class="govuk-link" href="../post-one-login/fail-email-cannot-prove.html">Unable to prove who they are</a> <strong class="govuk-tag govuk-tag--green">
            Dev ready
          </strong>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          First iteration of alt route triage screens added
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1749550187637/e75fad8cd6d72cf9e7936069a87cfd87e077cf1e">Alt route flow diagrams</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        Related IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://register-an-acsp-prototype.herokuapp.com/" target="_blank">Apply to register as a Companies House authorised agent</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-sign-in-prototype-7fe752c06ff9.herokuapp.com/" target="_blank">IDV sign in</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>





{% endblock %}
