{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Release 3 - v1"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Pre-One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
    

        
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/verifying-your-identity-for-companies-house">Live guidance</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/when-you-need-to-verify-your-identity-for-companies-house">Live guidance - When you need to verify (ACSPs only)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li>  
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance">Guidance</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-v2">Guidance V2</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-when-acsps-only">Guidance - When you need to verify (ACSPs only)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li>  
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-when">Guidance - When you need to verify (directors and PSCs)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for dev
          </strong>
        </li> 
        <li>
          <a class="govuk-link" href="../pre-one-login/start">Start page</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/acsp-route">Verifying with a Companies House authorised agent</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/one-login-intro">We’re taking you to verify your identity with GOV.UK One Login</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/already-verified">Already verified</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">One Login screens <strong class="govuk-tag govuk-tag--pink">
        Not for dev
      </strong></h3> 

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a class="govuk-link" href="../pre-one-login/create-or-sign-in">Create a GOV.UK One Login or sign in</a>
        </li>
        <li>
          <a class="govuk-link" href="../one-login/one-login-id">Tell us if you have one of the following types of photo ID</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-post-office">Prove your identity at a Post Office</a>
        </li> 
        <li>
          <a class="govuk-link" href="../one-login/one-login-another-way">Find another way to prove your identity</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-working">Going through One Login journey...</a>
        </li>    
        <li>
          <a class="govuk-link" href="../one-login/success">Continue to the service you want to use</a>
        </li>    
      </ul>

      <h3 class="govuk-heading-s">Post-One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/verified-success.html">Confirmation page</a> <strong class="govuk-tag govuk-tag--blue">
            V1
          </strong>
        </li>
          <li>
          <a class="govuk-link" href="../post-one-login/verified-success-v2.html">Confirmation page</a> <strong class="govuk-tag govuk-tag--green">
            V2
          </strong>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-evidence.html">Failed - lack of evidence</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-blocked.html">Failed - blocked</a> 
        </li>
      </ul>

      <h3 class="govuk-heading-s">Error pages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../pre-one-login/service-unavailable.html">Service unavailable</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Emails</h2>

<h3 class="govuk-heading-s">Successful</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/success-email.html">Success email - verified using GOV.UK One Login</a> <strong class="govuk-tag govuk-tag--blue">
            V1
          </strong>
        </li>
           <li>
          <a class="govuk-link" href="../post-one-login/success-email-v2.html">Success email - verified using GOV.UK One Login</a> <strong class="govuk-tag govuk-tag--blue">
            V2
          </strong>
        </li>
           <li>
          <a class="govuk-link" href="../post-one-login/success-email-v3.html">Success email - verified using GOV.UK One Login</a> <strong class="govuk-tag govuk-tag--green">
            V3
          </strong>
        </li>
      </ul>

    

      <h3 class="govuk-heading-s">Other</h3>

            <ul class="govuk-list govuk-list--bullet">
               <li>
          <a class="govuk-link" href="../post-one-login/email-new-code-created.html">New code created email</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          tbd
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1729665376106/28fe9919faa459fcb93c047f6accd472369eface">Dev ready journey flow</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        Related IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://register-an-acsp-prototype.herokuapp.com/" target="_blank">Apply to register as a Companies House authorised agent</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-sign-in-prototype-7fe752c06ff9.herokuapp.com/" target="_blank">IDV sign in</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>





{% endblock %}
